{
  "presets": [
    "latest",
    "react",
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "babel-plugin-transform-es2015-destructuring"
  ],
  "ignore": [
    "**/vendor/*.js",
    "**/generated/*.js",
    "**/node_modules/**"
  ]
}