doctype html
html(lang='en')
  head
    //include header.jade
    title= pageTitle
    script(type='text/javascript' src='docs.js')
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet")
  body
    .app
      | Docs not working...