doctype html
html(lang='en')
  head
    //include header.jade
    title= pageTitle
    script(type='text/javascript' src='client-bundle.js')
  body
    h1 Jade - node template engine
    .app
      | hello app
