doctype html
html(lang='en')
  head
    //include header.jade
    title= pageTitle
    script(type='text/javascript' src='static/bundle.js')
  body
    .app
      | Index not working. Look at the network tab.